name: "Release"

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - .config
      - .github
      - .golangci.yml
      - .release-please-manifest.json
      - release-please-config.json

jobs:
  github-release:
    uses: ZeroGachis/.github/.github/workflows/gh-release-please.yml@v6
    secrets: inherit
    permissions:
      contents: write
      pull-requests: write
    with:
        major_and_minor_tags: false
